
<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
	<title>Express Tutorial </title>



</head>

<body>
{{>bsnavbar}}

<div class="container">
{{{body}}}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</body>
</html>